/*FONTS*/

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat/Montserrat-VariableFont_wght.ttf) format(TrueType);
    font-weight: 100 900;
    font-style: normal;
}

@font-face {
    font-family: 'Montserrat';
    src: url(../fonts/montserrat/Montserrat-Italic-VariableFont_wght.ttf) format(TrueType);
    font-weight: 100 900;
    font-style: italic;
}

@font-face {
    font-family: 'Averia Serif Libre';
    src: url('../fonts/averia_serif_libre/averiaseriflibre-bold-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
}

@font-face {
    font-family: 'Averia Serif Libre';
    src: url('../fonts/averia_serif_libre/averiaseriflibre-bolditalic-webfont.woff2') format('woff2');
    font-weight: 700;
    font-style: italic;
}

@font-face {
    font-family: 'Averia Serif Libre';
    src: url('../fonts/averia_serif_libre/averiaseriflibre-italic-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: italic;
}

@font-face {
    font-family: 'Averia Serif Libre';
    src: url('../fonts/averia_serif_libre/averiaseriflibre-light-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Averia Serif Libre';
    src: url('../fonts/averia_serif_libre/averiaseriflibre-lightitalic-webfont.woff2') format('woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Averia Serif Libre';
    src: url('../fonts/averia_serif_libre/averiaseriflibre-regular-webfont.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

/*VARIABLES*/

html{
    --background:#FFF9EE;
    --light-orange:#F28F3B;
    --rust-red:#D06C58;
    --grey-blue:#5D9292;
    --dark-text:#222222;
    --Averia: 'Averia Serif Libre',Times, serif;
    --Montserrat: 'Montserrat', Arial, sans-serif;
    --rhythm: 5vw;
}

/*COLOR CHANGES, FILLS, ETC.*/

.light-orange{
    fill: var(--light-orange);
    background-color: var(--light-orange);
}

.rust-red{
    fill: var(--rust-red);
    background-color: var(--rust-red);
}

/*
*Filter over SVG to change colors
*Generator here: https://codepen.io/sosuke/pen/Pjoqqp
*/

.black-to-rust-red{
    filter: invert(84%) sepia(37%) saturate(4386%) hue-rotate(310deg) brightness(78%) contrast(111%);
}

.black-to-light-orange{
    filter: invert(60%) sepia(49%) saturate(651%) hue-rotate(342deg) brightness(96%) contrast(98%);
}

.black-to-grey-blue{
    filter: invert(52%) sepia(25%) saturate(479%) hue-rotate(131deg) brightness(97%) contrast(90%);
}

.grey-blue{
    fill:var(--grey-blue);
    background-color: var(--grey-blue);
}

.light-orange-text{
    color: var(--light-orange);
}

.rust-red-text{
    color: var(--rust-red);
}

/*GENERAL CSS RULES*/

*{
    color: var(--dark-text);
    max-width: 100%;
}

body {
    background-color: var(--background);
}

footer{
    height: 15vw;
}


/*MOBILE FONT SPECS*/
h1 {
    font-family: var(--Averia);
    font-size: 17.4vw; /*~68px on mobile*/
    font-style: italic;
    font-weight: 700;
}

h2{
    font-family: var(--Averia);
    font-size: 14vw; /*~58px on mobile*/
    font-style: italic;
    font-weight: 700;
    margin: 1vw 5vw;
}

h3{
    font-family: var(--Averia);
    font-size: 10.5vw; /*~44px on mobile*/
    font-style: italic;
    font-weight: 700;
    margin: 20vw 1vw 5vw 1vw;
}

h4 {
    font-family: var(--Montserrat);
    font-size: 7vw; /*~28px on mobile*/
    font-style: normal;
    font-weight: 500;
    margin: 3vw;
}

h5{
    font-family: var(--Averia);
    font-size: 5.1vw; /*~23px on mobile*/
    font-weight: 700;
    margin: 0;
}

p{
    font-family: var(--Montserrat);
    font-size: 4.1vw; /*~16px on mobile*/
    font-style: normal;
    font-weight: 400;
    line-height: 130%;
}

section p, section h5{
    margin: var(--rhythm);
}

p.snippit{
    font-family: var(--Montserrat);
    font-size: 4.6vw; /*~18px on mobile*/
    font-weight: 500;
    letter-spacing: -0.064vw;
    margin: 0 2vw;
    padding: 0;
}

img{
    width: 100%;
}

a{
    text-decoration: none;
}

video{
    background-color: #DDDDDD;
    border-radius: var(--rhythm);
    height: 60vw;
    margin-top: 15vw;
    width: 90vw;
}

.bold{
    font-weight: 700;
}

.italic{
    font-style: italic;
}

div ul{
    color: var(--dark-text);
    font-family: var(--Montserrat);
    font-size: 4.1vw; /*~16px on mobile*/
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    margin-right: var(--rhythm);
    text-align: left;
}

div.contents{
    color: var(--dark-text);
    display: flex;
    font-family: var(--Montserrat);
    font-size: 5vw; /*~20px on mobile*/
    font-style: normal;
    font-weight: 400;
    flex-direction: column;
    line-height: 200%;
    list-style-type: none;
    margin-top: 5vw;
    text-align: left;
}

a.in-text-link{
    color: var(--grey-blue);
    text-decoration: underline;
}


/*ALIGNMENT*/

.left-align{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
}

.right-align{
    align-items: flex-end;
    display: flex;
    flex-direction: column;
    justify-content:flex-end;
    text-align: right;
}

.center{
    align-items: center;
    display: flex;
    flex-direction: column;
    text-align: center;
}


/*PAGE HEADERS*/

picture.common-header{
    border-radius: 50vw;
    width: 80vw;
    z-index: -2;
}

div.page-title img{
    position: absolute;
    left:0;
    top:-15vw;
    width: 26vw;
    z-index: -1;
}

.left-dot-full {
    display: none;
}
.right-dot-full {
    display: none;
}

div.page-title img.left-dot{
    transform: scaleX(-1);
    left: 80vw;
    top:-35vw;
    width: 20vw;
    z-index: -3;
}

div.page-title img.med-dot{
    top:-12vw;
    width: 20vw;
}

div.page-title{
    align-self: flex-start;
    margin-top: -5vw;
    position: relative;
}

#case-studies-title{
    align-self: auto;
}

.page-title h2{
    margin-top: -2vw;
}

.common-header{
    align-items: center;
    display: flex;
    flex-direction: column;
    width: 100vw;
    margin-top: 4vw;
}

.sub-header-left{
    align-self: flex-start;
    margin-left: 7vw;
}

div.header-space{
    margin-top: 15vw;
}

/*BUTTON LOGISTICS*/

.button{
    border-color: var(--background);
    border-radius: 50vw;
    border-style: solid;
    border-width: 2vw;
    color: var(--background);
    margin: 3vw;
    padding: 4vw;
}

.arrow-button{
    font-family: var(--Montserrat);
    font-size: 12vw;
    font-weight:600;
    line-height: 8vw;
    text-align: center;
}

div.left-align a.button, div.right-align a.button {
    margin-top: 1vw;
    margin-bottom: 0;
    padding-bottom: 5.5vw;
    text-decoration: none;
    width: 9.5vw;
}

a.light-orange:hover{
    background-color: var(--background);
    border-color: var(--light-orange);
    color: var(--light-orange);
    transition: 100ms;
}

a.rust-red:hover{
    background-color: var(--background);
    border-color: var(--rust-red);
    color: var(--rust-red);
    transition: 100ms;
}

a.grey-blue:hover{
    background-color: var(--background);
    border-color: var(--grey-blue);
    color: var(--grey-blue);
    transition: 100ms;
}

.back-to-top{
    align-items: center;
    display: flex;
    flex-direction: column;
    margin-bottom: 10vw;
    margin-top: 5vw;
    position: relative;
}

.back-to-top-circle{
    width: 14vw;
}
.back-to-top div img{
    width: 7vw;
}
.back-to-top div{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 2vw;
}
.back-to-top h5{
    margin: 0;
}

/* Home Page & Case Study Page */

.home-project-title{
    margin-left: 7vw;
    margin-top: -1vw;
}

.home-header-img{
    display: flex;
    justify-content: flex-end;
    position: relative;
    margin-top: 10vw;
    z-index: -4;
}

.round-img{
    width: 64vw;
}

.rounded-text{
    position: absolute;
    top: -15vw;
    width: 68vw;
}

.big-logo{
    position: absolute;
    left: 3vw;
    top: 20vw;
    width: 54vw;
}

.case-study{
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    height: 80vw;
}

.case-study > div{
    width: 40vw;
}

div.left-align > h2{
    font-size: 10vw;
    line-height: 9vw;
    margin: 1vw;
}

div.right-align > h2{
    font-size: 8vw;
    line-height: 9vw;
    margin: 1vw;
}

.case-study > img{
    filter: drop-shadow(-1vw 1vw 1vw rgba(0, 0, 0, 0.40));
    margin-left: 1vw;
    margin-top: -4vw;
    width: 53vw;
}

.home-header-title{
    align-self: center;
    margin-top: -25vw;
    margin-bottom: -5vw;
    text-align: center;
}

.home-section{
    align-items: center;
    display: flex;
    flex-direction: column;
    
}

.big-circle{
    width: 52vw;
    margin-top: -67.5vw;
    z-index: -5;
}

/*PHOTOGRAPHY PAGE*/

.photo-button-grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas:
    'nature architechture portrait';
    justify-items: center;
    align-items: center;
}

.photo-button-grid a {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 28vw;
    margin-top: 5vw;
    margin-bottom: 10vw;
}

.photo-button-grid a p{
    color: var(--background);
    font-family: var(--Montserrat);
    font-size: 3.8vw;
    font-weight: 600;
    margin-top: -17vw;
    text-align: center;
}

.photo-grid-left{
    display: grid;
    grid-template-columns: 44.87vw 44.87vw;
    grid-template-rows: 60.26vw 67.18vw;
    grid-template-areas:
    'horiz horiz'
    'vert-1 vert-2';
    column-gap: 3vw;
    row-gap: 4vw;
    justify-items: center;
    align-items: center;
    justify-content: center;
    margin: 4vw 0;
}

.photo-grid-right{
    display: grid;
    grid-template-columns: 44.87vw 44.87vw;
    grid-template-rows: 60.26vw 67.18vw;
    grid-template-areas:
    'horiz horiz'
    'vert-1 vert-2';
    column-gap: 3vw;
    row-gap: 4vw;
    justify-items: center;
    align-items: center;
    justify-content: center;
}

.horiz-img {
    grid-area: horiz;
}

.vert-img-1 {
    grid-area: vert-1;
}

.vert-img-2 {
    grid-area: vert-2;
}

/*DESIGN & MEDIA*/

.vid-title{
    margin: 1vw;
}
.media-vid{
    border-radius: 10px;
    filter: drop-shadow(0vw 2vw 2vw rgba(0, 0, 0, 0.40));
    margin-top: 7vw;
    width: 70vw;
}

.media-section{
    margin: 10vw 0;
    position: relative;
    text-align: center;
}

.media-huge-circle{
    position: absolute;
    top: 0;
    width: 90vw;
    z-index: -6;
}

.media-item{
    margin: 5vw 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.media-item img {
    width: 90vw;
}

.media-item div{
    display: flex;
    align-items: center;
}

picture{
    display: flex;
    align-items: center;
    justify-content: center;
}

.media-item h5, .media-item p{
    margin: 1vw;
}

.video-pair{
    display: flex;
    flex-direction: column;
}

/*CASE STUDIES*/

.tiny-circle{
    border-radius: 20vw;
    color: var(--background);
    font-size: 7vw;
    padding: .5vw 2.75vw 1vw 2.75vw;
}

.huge-circle{
    position: absolute;
    top: 10vw;
    width: 90vw;
    z-index: -6;
}

.riv-wilm-circle{
    top: 18vw;
}

.case-study-header img{
    filter: drop-shadow(0vw 2vw 2vw rgba(0, 0, 0, 0.40));
    margin-bottom: 0;
    width: 92vw;
}

.case-study-header h2{
    margin: 0;
}

.case-study-header p{
    margin-bottom: 2vw;
    margin-top: 0;
}

.case-study-header{
    align-items: center;
    display: flex;
    flex-direction: column;
    position: relative;
    text-align: center;
}

.case-study-header img{
    margin-bottom: 5vw;
}

.case-study-sect img{
    border-radius: var(--rhythm);
    margin: 1vw var(--rhythm);
    width: 90vw;
}

.horiz-align{
    align-items: center;
    display: flex;
    justify-content: space-around;
}

.case-study-button{
    border-radius: 15vw;
    font-family: var(--Montserrat);
    font-size: 6vw;
    font-weight: 500;
    margin: 0;
    padding: 6vw 8vw;
    width: 55vw;
}

/*ABOUT*/

#skill-icons{
    margin-top: 12vw;
}

.skill-title{
    position: relative;
}

.skill-icons{
    display: flex;
    margin-left: 1vw;
}

.skill-icons img{
    height: 9vw;
    margin: 2vw;
    width: auto;
}

.skill-dot{
    position: absolute;
    right: 0;
    top: -4vw;
    transform: scaleX(-1);
    width: 25vw;
    z-index: -3;
}

.right-title{
    position: absolute;
    right: 4vw;
    top: -2vw;
    z-index: -2;
}

.in-touch{
    margin-top: 30vw;
}

.in-touch-section{
    display: flex;
    position: relative;
}

.in-touch-section p{
    margin: 10vw 5vw 2vw 0;
}

.vert-img img{
    border-radius: 50vw;
    margin: 5vw;
    width: 35vw;
}

.tablet-flex{
    width: 55vw;
}

.social-icons{
    align-items: center;
    display: flex;
    justify-content: center;
    margin-left: -3vw;
}

.social-icons img{
    margin: 4vw;
    width: 13vw;
}

.about-dot{
    left:0;
    position: absolute;
    top: 75vw;
    width: 20vw;
}

.lower-in-touch-dot {
    display: none;
}


/*RESUME*/

.resume-header{
    margin-bottom: 40vw;
    margin-top: 10vw;
    position: relative;
}

.resume-dot{
    position: absolute;
    right: 0;
    top: -8vw;
    transform: scaleX(-1);
    width: 50vw;
    z-index: -10;
}

.download-button{
    position: absolute;
    right: 2vw;
    top: 13vw;
    width: 35vw;
}

/*Tablet Screens*/
@media (min-width: 670px) {

    h1{
        font-size: 16vw;
    }

    h2 {
        font-size: 10vw;
        margin: 2vw 18vw;
    }

    h3{
        font-size: 9vw; /*~43px on mobile*/
    }

    p {
        font-size: 18px;
    }

    section p, section h5 {
        margin: 20px auto;
        width: 60vw;
    }

    p.snippit{
        font-size: 25px;
        letter-spacing: -0.5px;
        margin: 8px;
    }

    .button{
        border-radius: 50vw;
        border-width: 8px;
        margin: 2px;
        padding: 16px;
    }
    
    .arrow-button {
        font-size: 65px;
        line-height: 45px;
    }
    
    div.left-align a.button, div.right-align a.button {
        margin-top: 4px;
        padding-bottom: 27px;
        width: 58px;
    }

    /*Common Header*/
    .common-header{
        margin-top: 2.5vw;
    }

    .page-title h2 {
        margin-top: 7vw;
    }

    picture.common-header{
        border-radius: 50vw;
        width: 60vw;
        z-index: -2;
    }

    .left-dot-full {
        display: block;
        width: 21vw;
        z-index: -2;
        margin-right: 56vw;
        margin-top: -16vw;
    }

    .right-dot-full {
        display: block;
        width: 18vw;
        z-index: -10;
        margin-left: 57vw;
        margin-top: -33.5vw;
    }
    
    div.page-title img{
        display: none;
    }
    
    div.page-title img.left-dot{
        display: none;
    }
    
    div.page-title img.med-dot{
        display: block;
        top:-7vw;
        width: 15vw;
    }
    
    div.page-title{
        margin-top: -6vw;
        z-index: -1;
    }

    div.header-space{
        display: none;
    }

    /*Home Page*/

    .case-study{
        padding-top: 0;
    }

    .rounded-text{
        position: absolute;
        top: -14vw;
        right: 3vw;
        width: 64vw;
    }
    
    .case-study > div{
        width: 240px;
    }
    
    div.left-align > h2{
        font-size: 60px;
        line-height: 45px;
        margin: 4px;
    }
    
    div.right-align > h2{
        font-size: 48px;
        line-height: 45px;
        margin: 4px;
    }

    .home-project-title{
        margin-top: 25px !important;
    }
    
    .case-study > img.left{
        filter: drop-shadow(-4px 4px 4px rgba(0, 0, 0, 0.40));
        margin-right: 8px;
        margin-left: 0;
        margin-top: -35px;
        width: 300px;
    }
    
    .case-study > img.right{
        filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.40));
        margin-left: 8px;
        margin-top: -25px;
        width: 300px;
    }
    
    .home-header-title{
        align-self: center;
    }
    
    .home-section{
        height: 400px;
    }
    
    .big-circle{
        width: 45vw;
        margin-top: -410px;
    }
    
    /*ABOUT Page*/
    .in-touch-section p{
        margin: auto;
        width: 30vw;
    }

    .skill-icons {
        display: flex;
        margin-left: 10vw;
    }

    .right-title {
        top: -1vw;
        z-index: 3;
    }

    .skill-icons img {
        height: 6.75vw;
        margin: 1.5vw;
        width: auto;
    }

    .skill-dot{
        display: none;
    }

    .skill-dot-2 {
        position: absolute;
        top: 14vw;
        right: -42vw;
    }

    #skill-icons {
        margin-top: 8vw;
    }

    .vert-img img{
        width: 30vw;
    }

    .about-dot {
        top: 52vw;
        width: 15vw;
    }

    .in-touch {
        margin-top: 20vw;
    }

    .in-touch .page-title h2 {
        margin: 0 0 -12vw 32vw;
    }

    .in-touch-dot-2{
        position: absolute;
        top: 11vw;
        right: 1vw;
    }

    .tablet-flex{
        display: flex;
        flex-direction: row;
    }
    .tablet-flex div{
        margin: auto;
    }

    .social-icons{
        margin-left: 0;
    }

    .social-icons img {
        margin: 2vw;
        width: 7vw;
    }

    .lower-in-touch-dot {
        display: none;
    }


    /*Photography Page*/
    .photo-button-grid{
        margin: 0 15vw;
        margin-top: 0vw;
    }
    
    .photo-button-grid a {
        width: 20vw;
        margin-top: 4vw;
        margin-bottom: 2vw;
    }
    
    .photo-button-grid a p{
        font-size: 2.75vw;
        margin-top: -12vw;
    }

    /*Media Page*/

    .video-pair{
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    .media-vid{
        width: 35vw;
    }

    .vid-title{
        font-size: 6vw;
    }

    .media-huge-circle {
        top: 4vw;
        width: 46vw;
    }

    .media-section {
        margin: 0;
        width: 48vw;
    }

    .media-section p{
        font-size: 2.5vw;
        margin-top: -1vw;
    }


}

@media (min-width: 1000px) {
    
    h1{
        font-size: 8.75vw;
    }

    h2 {
        font-size: 8vw;
        margin: 2vw 18vw;
    }

    h3 {
        font-size: 6vw;
        margin: 12.5vw 1vw 3vw 1vw;
    }

    h4{
        font-size: 3.5vw;
    }
    h5{
        font-size: 3vw;
    }

    p {
        font-size: 16px;
    }

    section p, section h5 {
        margin: 20px auto;
        width: 45vw;
    }

    p.snippit {
        font-size: 1.5vw;
        letter-spacing: -0.05vw;
        margin: 0 1vw;
    }

    .button {
        border-radius: 50vw;
        border-width: .75vw;
        margin: .25vw;
        padding: 1.5vw;
    }

    /*Common Header*/

    .common-header {
        margin-top: 1.5vw;
    }

    .sub-header-left {
        margin-left: 3.5vw;
    }

    .left-dot-full {
        display: block;
        width: 15vw;
        margin-right: 57vw;
        margin-top: -11vw;
    }

    .right-dot-full {
        width: 10vw;
        margin-left: 57vw;
        margin-top: -22vw;
    }
    
    
    div.page-title img{
        display: none;
    }
    
    div.page-title img.left-dot{
        display: none;
    }
    
    div.page-title img.med-dot {
        display: block;
        top: -5vw;
        width: 10vw;
    }
    
    div.page-title{
        margin-top: -6vw;
    }

    div.page-title > h2 {
        font-size: 8vw;
        margin-left: 21vw;
        margin-top: 7.5vw;
    }

    /*HOME PAGE*/

    .home-grid {
        display: flex;
        flex-direction: row-reverse;
    }

    .case-study-bubbles{
        width: 50%;
    }
    .home-header{
        width: 50%;
    }

    .home-header-title{
        margin-right: 1vw;
    }

    .big-logo{
        width: 25vw;
        top:7vw;
        left: -2vw;
    }

    .round-img{
        width: 32vw;
    }

    .rounded-text {
        top: -7vw;
        right: 1vw;
        width: 34vw;
    }

    .case-study > img.left, .case-study > img.right{
        width: 20vw;
        z-index: -1;
    }

    .case-study > img.left{
        margin-top: -1.5vw;
        z-index: -1;
    }

    .case-study > div {
        width: 17vw;
    }

    div.right-align > h2 {
        font-size: 3.25vw;
    }

    div.left-align > h2 {
        font-size: 4vw;
        line-height: 1em;
        margin: .5vw;
    }

    .arrow-button {
        font-size: 3.5vw;
        line-height: 2.5vw;
    }

    div.left-align a.button, div.right-align a.button {
        margin-top: 0.5vw;
        padding-bottom: 2vw;
        width: 3.1vw;
    }

    .home-section{
        height: 23vw;
        width: 40vw;
    }

    .big-circle{
        width: 18vw;
        margin-top: -20vw;
    }

    .case-study{
        height: 21vw;
        margin-left: -2vw;
    }

    #case-study-2{
        margin-right: 5vw;
    }
    #case-study-1, #case-study-3{
        margin-left: 18vw;
    }

    #case-study-2, #case-study-3, .home-header{
        margin-top: -5vw;
    }


    footer{
        height: 0;
    }

    /*About Info*/

        /*Skills Section*/

    .right-title {
    top: -3vw;
    right: 8vw;
    }

    .skill-icons img {
        height: 4.5vw;
        margin: 1vw;
        width: auto;
    }

    .skill-icons {
        display: flex;
        margin-left: 26vw;
    }

    .skill-dot-2 {
        position: absolute;
        top: 9.5vw;
        right: -36vw;
    }

    #skill-icons {
        margin-top: 4vw;
    }

        /*In Touch Section*/

    .in-touch {
        margin-top: 12vw;
    }

    .in-touch-section p {
        margin: auto;
        width: 15vw;
    }

    .tablet-flex {
        width: 34vw;
    }

    .vert-img img {
        width: 20vw;
        margin: 9vw 3vw 5vw 17vw;
    }

    .in-touch-dot-2 {
        position: absolute;
        top: 8vw;
        right: 1.5vw;
    }

    .about-dot{
        display: none;
    }

    .lower-in-touch-dot {
        position: absolute;
        top: 53vw;
        right: 17.5vw;
        z-index: 4;
        width: 12vw;
    }

    .social-icons img {
        margin: 1vw;
        width: 4vw;
    }

    /*Photography Page*/
    
    .photo-button-grid a {
        width: 125px;
        margin-top: 10px;
        margin-bottom: -50px;
    }

    .photo-button-grid a p {
        font-size: 16px;
        margin-top: -76px;
    }

    .photo-button-grid {
        margin: 0 30vw;
        margin-top: 0;
    }

    .photo-grid-left{
        display: grid;
        grid-template-columns: 48.58vw 21.74vw 21.74vw;
        grid-template-rows: 32.75vw;
        grid-template-areas:
        'horiz vert-1 vert-2';
        column-gap: 1.5vw;
        justify-items: center;
        align-items: center;
        justify-content: center;
        margin: 1.25vw 0;
    }

    .photo-grid-right{
        display: grid;
        grid-template-columns: 21.74vw 21.74vw 48.58vw;
        grid-template-rows: 32.75vw;
        grid-template-areas:
        'vert-1 vert-2 horiz';
        column-gap: 1.5vw;
        justify-items: center;
        align-items: center;
        justify-content: center;
    }

    /*CASE STUDY PAGE*/
    
    #case-study-page-1, #case-study-page-3 {
        margin-left: 0;
    }

    .home-section {
        height: 23vw;
        width: auto;
    }

    /*Media & Design*/
    .media-section{
        margin-bottom: 5vw;
        width: 33vw;
    }

    .media-huge-circle{
        top: 0;
        width: 30vw;
    }

    .media-vid{
        margin-top: 2vw;
        width: 22vw;
        filter: drop-shadow(0vw 1vw 1vw rgba(0, 0, 0, 0.40));
    }

    .vid-title {
        font-size: 3.5vw;
    }

    .video-pair {
        justify-content: center;
    }

    .desktop-flex{
        display: flex;
        width: 100%;
        justify-content: center;
        align-items:flex-start;
    }

    .media-item{
        margin: 1vw;
    }

    .media-item-2 img{
        height: 46.5vw !important;
    }

    .media-item img{
        height: 38vw;
        width: auto;
    }

    .media-item h5, .media-item p {
        width: auto;
    }
    
    




    
}
